extends layout

block content
  .uk-section-large
    .uk-container.uk-container-small
      p.uk-text-lead Т. 8 (980) 247 8777
      a.uk-link-muted(href="mailto:info@thetopmasters.ru") info@thetopmasters.ru
      hr
      p.uk-text-meta ИП Евсюков И.А.
      p.uk-text-meta ОГРНИП 315366800067573
