extends layout

block content
  if Ses.user.role == 'client'
    include dash_client.pug
  else if Ses.user.role == 'master'
    include dash_master.pug
  
        
  //- if Ses.user.role == 'client'
  //-   include dash_client.pug
  //- else if Ses.user.role == 'master'
  //-   include dash_master.pug
        
