link(rel='stylesheet' href='/stylesheets/datepicker.css')
script( src="https://code.jquery.com/jquery-1.12.4.js")
script( src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(type="text/javascript" src="/javascripts/datepicker.js")

script
  include ../public/javascripts/main.js
script.
  $(document).ready(function(){
    $('.button').click(function(){
      date = new Date($('input.date').val())
      date.setMonth(date.getMonth() + 1)
      $('.date').html(date)
    })
  })
    
form()
  input.date(type='text' data-toggle="datepicker" name='date')
  button.button(type='button' name="date") Submit

div.date
