nav.uk-box-shadow-small(class="uk-navbar-container" uk-navbar)
  .uk-navbar-left
    a(class="uk-visible@l uk-navbar-item uk-logo" href="/") #[img(src="../images/logo_long.svg" style="height: 50%")]
    a(class="uk-hidden@l uk-navbar-item uk-logo" href="/") #[img(src="../images/logo_short.svg" style="height: 50%")]

  if !Ses
    .uk-navbar-center
      ul.uk-navbar-nav.uk-nav-defaut(class=" uk-visible@m" uk-nav)
        li
          a(href="/catalog") Каталог
        li
          a(href="/") Найти мастера
      ul.uk-navbar-nav.uk-nav-defaut(class=" uk-hidden@m" uk-nav)
        a.uk-navbar-toggle(uk-navbar-toggle-icon uk-toggle="target: #mobile_mainmenu" href="#")

    .uk-navbar-right
      a.uk-button.uk-button-secondary.uk-margin-right(class="uk-visible@m" href="/register") Стать мастером
      .uk-margin-right
        span.uk-margin-small-right(uk-icon="icon: sign-in")
        if !Ses
          a.uk-button.uk-button-text(href="/login") Войти
  else
    case Ses.user.role
      when 'master'
        .uk-navbar-right
          .uk-margin-right
            span.uk-margin-small-right(uk-icon="icon: sign-in")
            a.uk-button.uk-button-text(href="/logout") Выход
      when 'client'
        .uk-navbar-center
          a.uk-navbar-toggle(uk-navbar-toggle-icon class="uk-hidden@m" uk-toggle="target: #mobilemenu" href="")
        .uk-navbar-right
          a.uk-button.uk-button-secondary.uk-margin-right(class='uk-visible@l' href="/register") Стать мастером
          .uk-margin-right
            span.uk-margin-small-right(uk-icon="icon: sign-in")
            a.uk-button.uk-button-text(href="/logout") Выход
if Ses
  case Ses.user.role
    when 'master'
      nav.uk-navbar-container
          .uk-navbar-center.uk-flex-center
            ul.uk-navbar-nav.uk-nav-defaut(class=" uk-hidden@m" uk-nav)
              a.uk-navbar-toggle(uk-navbar-toggle-icon uk-toggle="target: #mobilemenu" href="#")
            ul.uk-navbar-nav(class="uk-visible@m" uk-switcher="connect: .switch")
              li
                a Заказы  
                  if orders
                    span.uk-badge.uk-margin-small-left #{orders.length}
              li
                a Редактирование профиля
              li
                a Сменить пароль
              li.portfolio
                a Портфолио

          
    when 'client'
      nav.uk-navbar-container
          .uk-navbar-center.uk-flex-center
            ul.uk-navbar-nav(uk-switcher="connect: .switch"  class='uk-visible@m')
              li
                a Заказы
              li
                a Новый заказ
              li
                a Редактирование профиля
              li
                a Сбросить пароль
 
#mobilemenu(hidden)
  nav.uk-navbar-container(uk-navbar="dropbar: true; dropbar-mode: push")
    ul.uk-navbar-nav.uk-nav-primary.uk-nav-center(class="uk-visible@s" uk-switcher="connect: .switch")
      li
        a Заказы
      li
        a Новый заказ
      li
        a Редактирование профиля
      li
        a Сбросить пароль
  ul.uk-nav.uk-nav-defaut.uk-nav-center(class="uk-hidden@s" uk-switcher="connect: .switch")
    li
      a Заказы
    li
      a Новый заказ
    li
      a Редактирование профиля
    li
      a Сбросить пароль

#mobile_mainmenu(hidden)
  nav.uk-navbar-container(uk-navbar="dropbar: true; dropbar-mode: push")
    ul.uk-navbar-nav.uk-nav-center(class="uk-visible@s")
      li
        a(href="/catalog") Каталог
      li
        a(href="/") Найти мастера
    
#nav_advance(uk-modal-page hidden)
  .uk-modal-body.uk-background-muted()
    nav.uk-navbar-container(uk-navbar)
      .uk-navbar-center
          ul.uk-navbar-nav
            li
              a Мастерам
            li
              a Партнерам
            li
              a О нас
            li
              a Контакты
