nav(class="uk-navbar-container" uk-navbar)
  .uk-navbar-left
    a(class="uk-navbar-item uk-logo" href="/") TheTopMasters
  .uk-navbar-left
    ul.uk-navbar-nav.uk-nav-defaut(uk-nav)
      li
        each val, i in uslugi
          li
            a(href="/filter/" + uslugi[i].id) #{uslugi[i].name}
      li.uk-parent(uk-nav)
        a.uk-navbar-toggle(uk-navbar-toggle-icon uk-toggle="target: #nav_advance" href="" )
  .uk-navbar-right
    a.uk-button.uk-button-secondary.uk-margin-right( href="/register") Стать мастером
    .uk-margin-right
      span.uk-margin-small-right(uk-icon="icon: sign-in")
      if !Ses
        a.uk-button.uk-button-text(href="/login") Войти
      else
        a.uk-link-text(href="/logout") Выход
    
#nav_advance(uk-modal-page hidden)
  .uk-modal-body.uk-background-muted()
    nav.uk-navbar-container(uk-navbar)
      .uk-navbar-center
          ul.uk-navbar-nav
            li
              a Мастерам
            li
              a Партнерам
            li
              a О нас
            li
              a Контакты
