nav(class="uk-navbar-container" uk-navbar)
  .uk-navbar-left
    a(class="uk-navbar-item uk-logo") TheTopMasters
  .uk-navbar-center
    ul.uk-navbar-nav
      li
        each val, i in uslugi
          li
            a(href="/" + uslugi[i].cat) #{uslugi[i].cat}
      li
        a(href="#") Мастерам
  .uk-navbar-right
    div( class="uk-navbar-toggle" uk-toggle="target: #login")
      if !Ses
        p login
      else
        p logout
#login(uk-modal)
  include login
