nav(class="uk-navbar-container" uk-navbar)
  .uk-navbar-left
    a(class="uk-navbar-item uk-logo" href="/") TheTopMasters
  .uk-navbar-center
    ul.uk-navbar-nav.uk-nav-defaut(uk-nav)
      li
        a(href="/catalog") Каталог
      li
        a(href="/catalog") Найти мастера
  .uk-navbar-right
    a.uk-button.uk-button-secondary.uk-margin-right( href="/register") Стать мастером
    .uk-margin-right
      span.uk-margin-small-right(uk-icon="icon: sign-in")
      if !Ses
        a.uk-button.uk-button-text(href="/login") Войти
      else
        a.uk-link-text(href="/logout") Выход
    
#nav_advance(uk-modal-page hidden)
  .uk-modal-body.uk-background-muted()
    nav.uk-navbar-container(uk-navbar)
      .uk-navbar-center
          ul.uk-navbar-nav
            li
              a Мастерам
            li
              a Партнерам
            li
              a О нас
            li
              a Контакты
