doctype html
html
  head
    title= title
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript", src="/javascripts/socket.io.js")
    script(type="text/javascript", src="/javascripts/uikit.js")
    script(type="text/javascript", src="/javascripts/uikit-icons.min.js")
    script(type="text/javascript", src="/javascripts/datepicker.js")
    script(type="text/javascript", src="/javascripts/main.js")
    link(rel='stylesheet', href='/stylesheets/uikit.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/datepicker.css')
  body
    include header
    block content
    include footer
