doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  body
    h1 Layout here
    if !Ses
      a(href='/login') login
      span
    else
      a(href='/logout') logout
      span
    block content
    include footer
    
