extends layout

block content
  .uk-section
    .uk-container.uk-container-small.uk-background-default.uk-padding-large.uk-width-1-3.uk-box-shadow-large
      h2.uk-modal-title Вход
      form(method="post" action='/login')
        fieldset.uk-fieldset
          .uk-margin
            input.uk-input(type="text" value='' name="username" placeholder="Имя пользователя")
          .uk-margin
            input.uk-input(type="password" value='' name="password" placeholder="Пароль")
          button.uk-margin-right.uk-button.uk-button-secondary(type="submit") Вход
          a.uk-margin.uk-button-text(href="/register") Регистрация
        h3 #{error}
