extends layout

block content
  .uk-section.uk-section-muted
    .uk-container.uk-container-small.uk-padding-large.uk-background-default
      p.uk-heading-primary Вы мастер своего дела? #[br]Значит вам точно требуется наш сервис.
      p
        | Заводите личный кабинет, и наслаждайтесь возможностью нового уровня коммуникаций с клиентом. При бесплатном размещении вы получаете личную страницу в каталоге мастеров, попасть на которую клиент может всегда, нажав кнопку «Каталог» на главной странице сайта, создавайте личный кабинет, наполняйте его фотопримерами своих работ, и клиент всегда сможет найти вас при помощи фильтров поиска мастеров. При платном размещении вы получите полный набор услуг и сервисов.  В личном кабинете и посредством СМС оповещения вы всегда получите уведомления о новых заказах именно ваших услуг, как клиент может выбрать вас, так и вы сможете выбирать себе клиента. Так же, вы можете разместить большее количество фотографии своих работ, заводить постоянных клиентов, взаимодействовать с ними. Первый месяц вы пользуетесь услугами абсолютно бесплатно, со второго месяца стоимость услуги составляет 1000 рублей в месяц, при покупке 1 месяца, 5000 при покупке услуги на 6 месяцев или 9000 при покупке услуги на год. Обращаем ваше внимание, что данные условия доступны для мастера, салонам красоты предлагаем ознакомится с разделом «партнерам»
