extends layout

block content
  .uk-section.uk-section-muted
    .uk-container.uk-container-small.uk-padding-large.uk-background-default
      h2 Пользовательское соглашение
      h4 Определения
      p 
        |В дополнение к иным терминам, раскрытым в тексте соглашения, в настоящем соглашении используются следующие определения:
        Администрация сайта – Индивидуальный предприниматель Евсюков Илья Анатольевич (ОГРНИП , ИНН 366, юридический адрес: 394000, Воронежская область, г. Воронеж, ул. Фридриха Энгельса, д. 16, кв. 9), обслуживающее и поддерживающее Сайт.
        Мастера – специалисты, осуществляющие профессиональную деятельность по оказанию услуг.
        Услуги мастеров – услуги оказываемые населению в индустрии красоты, такие как: уход за волосами, уход за телом, косметологические услуги и т.д.
        Пользователь или Клиент – посетитель Сайта, вне зависимости от регистрации на Сайте.
        Сайт – сайт www.thetopmasters.ru, включая материалы и сервис, встроенный функционал, связанные сторонние приложения на любой платформе.
        Соглашение – настоящее пользовательское соглашение.
        Услуги – услуги по предоставлению доступа на Сайт с возможностью, знакомиться с информацией о мастерах, а также с информацией об оказываемых мастерами услугах.
        Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов Сайта.
        Пользователь в должной мере осознает, что услуги, размещенные на Сайте, представлены третьими лицами. Посещая, просматривая или используя Сайт и/или совершая заказ услуг, представленных на Сайте, Пользователь признаёт, что ознакомился с настоящими правилами, в полной мере понял и согласился с нижеописанными условиями (включая положение о конфиденциальности).
        Сайт, его содержимое, за исключение информации, публикуемой третьими лицами, а также заказ Услуг , которые оказывается на Сайте и посредством Сайта, принадлежат, находятся под управлением и оказываются Администрацией сайта и предоставляются только для вашего личного, некоммерческого использования при полном согласии с условиями, изложенными ниже.
        Настоящее соглашение может периодически редактироваться и изменяться в одностороннем порядке. Пользователь обязан самостоятельно отслеживать изменения в настоящем Соглашении.
        К Администрации сайта, Сайту в части и в целом не применимы положения, регулирующие медицинскую деятельность, относящиеся к медицинской организации требования, а также Федеральный закон от 21.11.2011 N 323-ФЗ "Об основах охраны здоровья граждан в Российской Федерации".
    h4 Общие положения
    p
      |Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
      Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению в целом, без каких-либо оговорок.
      Администрация сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу в момент размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта. Администрация сайта не обязана уведомлять Пользователя об изменении настоящего Соглашения, отслеживание изменений настоящего Соглашения производится Пользователем Самостоятельно. С актуальной версией Соглашения можно ознакомиться по адресу http://thetopmasters.ru/
