extends layout

block content
  .uk-section.uk-section-muted
    .uk-container.uk-container-small.uk-padding-large.uk-background-default
      p.uk-heading-primary Вы представитель салона красоты или продаете товары для бьюти индустрии?
      p.uk-text-lead
        | Специально для вас мы создали премиум аккаунты, а так же предложения по размещению на конкретных страницах запросов клиентов. Вас увидят как мастера, так и клиенты. 
      p.uk-text-lead Свяжитесь с нами по телефону <b> 8 (980) 247-87-77</b> и мы предложим вам выгодные условия размещения.
