extends layout

block content
  .uk-container.uk-container-small
    form(id="send")
      input.inp.uk-input(id="inp" type="text")
      button.send.uk-button(type="submit") Submit
    #result
  button.get_result(type="button") Get Result